.box{
    width: 220px;
    height: 130px;
    color: var(--description);
    position: relative;
    animation: up 0.4s ease-in-out;
}

.color-des{
    color: var(--description);
}

@keyframes up {
    from{
        top: 20px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}