:root{
    --tr: all 0.1s ease-in-out;
}



.sidebar{
    width: 270px;
    /* background-color: var(--gray); */
}
.sidebar header{
    height: 45px;
}
.sidebar header .logo{
    width: 270px;
}
.sidebar header .logo img{
    width: 150px;
}

/* menu */
.element .menu-bar{
    height: 80%;
}
.element .menu-bar::-webkit-scrollbar-thumb{
    border-radius: 45px;
}
.element .menu-bar a ,.element .bottom-menu a{
    padding: 12px;
    color: var(--description);
    transition: var(--tr);
}

.element .menu-bar a:hover , 
.element .bottom-menu a:hover,
.element .bottom-menu button:hover{
    background-color: var(--primary);
    color: var(--white);
}
.active{
    background-color: var(--primary);
    color: var(--white)!important;
}
.element .bottom-menu button{
    background-color: var(--gray);
    border: none;
    color: var(--description);
    display: inline;
    width: 100%;
}
.content{
    width: calc(100% - 275px);
    display: block;
    left: 270px;
    position: relative;
}
.content header{
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 111;
}
.content header i{
    padding: 4px 6px;
    cursor: pointer;
}
.btn-site{
    background-color: var(--primary)!important;
}
.table{
    width: 95%;
}